<%= link_to 'New Article', new_article_path, class: "btn btn-success" %>
<h1>RFP Questions and Answers</h1>
<ul>
  <% @articles.each_slice(3) do |articles| %>
    <div>
      <% articles.each do |a| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to a.title, a %></h3>
            </div>
            <div class="panel-body">
              <%= truncate(a.text) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</ul>